.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 100vh;
    background-color: #e3e2de; 
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.content::-webkit-scrollbar {
    display: none;
}

.animateContributors .enter {
    opacity: 0;
    
}

.animateContributors .enter-done {
    opacity: 1;
    transition: opacity 500ms ease-in;
}